<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      class="pixel-ratio-2 retina">
<head th:replace="common::pagehead">

</head>


<body class="layui-layout-body" style="background-color: whitesmoke;">
<div class="layui-container">
    <div class="layui-row" style="background-color: white; padding:100px 0px;">
        <div class="layui-col-md4 layui-col-md-offset4" style="font-size: 18px;">
            &nbsp;&nbsp;&nbsp;&nbsp;注册&nbsp;&nbsp;<i class="layui-icon layui-icon-face-smile" style="font-size: 18px; color: #1E9FFF;"></i>
            <hr class="layui-bg-gray">
        </div>
        <div class="layui-col-md4 layui-col-md-offset4" style="font-size:15px;">
            <form class="layui-form layui-form-pane">
                <div class="layui-form-item" pane style="border: none;">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="字母，数字组合，长度不小于6位" name="userName" required lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" pane style="border: none;">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input style="display: inline; width: 180px;" lay-verify="email" type="email" placeholder="输入邮箱" name="user_email" required class="layui-input">
                        <button  type="button" lay-filter="sendVerifyCode" style="border: none;padding: 0 3px;margin: 0;" class="layui-btn layui-btn-normal">获取验证码</button>
                    </div>
                </div>
                <div class="layui-form-item" pane style="border: none;">
                    <label class="layui-form-label">验证码</label>
                    <div class="layui-input-block">
                        <input type="text" placeholder="输入验证码" name="email_verify_code" required lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" pane style="border: none;">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="password" placeholder="字母数字组合不少于6位" name="user_pwd" required lay-verify="required" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" pane style="border: none;">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password" placeholder="再次输入密码" name="user_pwd_verify" required lay-verify="required" class="layui-input">
                    </div>
                </div>
                <button lay-submit lay-filter="submit_btn" type="submit" class="layui-btn lay-submit layui-btn-fluid layui-btn-radius layui-btn-normal">注册</button>
                <div onclick="gologin()" id="tologin"  style="display:none;font-size:18px;text-align: center;cursor: pointer;padding-top:10px;"><i class="layui-icon layui-icon-face-smile" style="font-size: 18px; color: #1E9FFF;"></i>令牌在手，随我游走<i class="layui-icon layui-icon-face-smile" style="font-size: 18px; color: #1E9FFF;"></i></div>
            </form>

        </div>
</div>

<div class="layui-fluid" th:replace="common::footer">
</div>
</div>
<script>
    var $;
    layui.use('form', function(){
        $=layui.jquery;
        var form = layui.form;
        form.on('submit(submit_btn)', function(data){
            // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            var url=basePath+"user/regist";
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: url,
                data: data.field,
                cache: false,
                async: true,
                success:function (data) {
                    if(data.code=="200"){
                        layer.msg(data.message);
                       document.getElementsByClassName("layui-form")[0].reset();
                        $("#tologin").toggle();
                    }else{
                        layer.msg(data.message);
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        $("button[lay-filter='sendVerifyCode']").click(function(){
            var userEmail=$("input[name='user_email']").val();
            var userName=$("input[name='userName']").val();
            if(userEmail==null||userEmail==''){
                layer.msg('请填写邮箱');
            }else{
                var url=basePath+"user/sendregistcode";
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: url,
                    data: {userName:userName,email:userEmail},
                    cache: false,
                    async: true,
                    success:function (data) {
                        if(data.code=="200"){
                            layer.msg(data.message);
                        }else{
                            layer.msg(data.message);

                        }
                    }
                });
            }
        });
        $("input[name='userName']").blur(function(){
            var userName=$("input[name='userName']").val();
            if(userName==null||userName==''){
                layer.msg('请填写用户名');
            }else{
                verifyUserName(userName);
            }
        });
    });
    function verifyUserName(username){
        var url=basePath+"user/validate/"+username;
        $.get(url,function (data) {
            if(data.code!="200"){
                layer.msg(data.message);
                $("input[name='userName']").select();
            }
        });
    }

    function gologin() {
        var url=basePath+"login";
        window.location.href=url;

    }


</script>
</body>

</html>