
.layui-logo{color: #5FB878!important;}
.layui-layout-admin .layui-header{background-color: white !important;}
.layui-nav .layui-nav-item a {color: #0C0C0C !important;}
.layui-nav .layui-nav-item a:hover{color:#5FB878!important;}
.layui-nav .layui-nav-item:hover{background-color:#F0F0F0!important;}
.commonbg{background-color: #eeeeee;}
.fontsize15{font-size:20px;}
.main-content {background-color: #eeeeee;min-height:600px;}
.right-slider {background-color: #f2f2f2;min-height:600px;}
.layui-fluid{padding: 0 0 !important;}