<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      class="pixel-ratio-2 retina">
<head th:replace="common::pagehead">
</head>
<link rel="stylesheet" th:href="@{/mdeditor/css/editormd.css}" />
<script th:src="@{/mdeditor/editormd.min.js}"></script>

<body class="layui-layout-body" style="overflow: scroll;">

<div th:replace="common.html::header"></div>
<div class="layui-fluid">
    <form class="layui-form" th:action="@{article/save}">
    <div class="layui-row layui-col-space10" style="padding-top:2px;">
        <div class="layui-col-md5">
            <input th:id="article_title" type="text" name="article_name" lay-verify="required" lay-reqText="请填写标题" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-md3">
            <select name="type_id" id="category" lay-verify="required" lay-reqText="请选择分类">
                <option value="">请选择文章分类</option>
                <option value="1">Java</option>
                <option value="2">Linux</option>
                <option value="3">分布式</option>
                <option value="4">并发</option>
                <option value="5">杂文</option>
            </select>
        </div>
        <div class="layui-col-md1">
            <input type="checkbox"  lay-filter="articleType" name="articleType" lay-skin="switch" checked lay-text="公开|私有">
        </div>
        <div class="layui-col-md1">
            <button type="button" lay-submit style="display: inline;" lay-filter="saveBtn" th:id="saveBtn" class="layui-btn  layui-btn-normal layui-btn-radius">保存</button>
        </div>
    <div class="layui-row">
        <div class="layui-col-md12 layui-btn-fluid">
            <div id="editor">
            <textarea style="display:none;" th:name="articleContent" lay-verify="required" lay-reqText="请填写文章内容"></textarea>
            </div>
            <script type="text/javascript" th:inline="javascript">
                $(function() {
                    var editor = editormd("editor", {
                        placeholder:"开始创作吧",
                        width  : "100%",
                        height : 500,
                        path: basePath+"mdeditor/lib/",
                        imageUpload:'true',
                        imageFormats:["jpg", "jpeg", "gif", "png", "bmp", "webp22"],
                        imageUploadURL:basePath+"article/upload"

                    });
                    layui.use('form', function(){
                        let form = layui.form;
                        form.on('submit(saveBtn)', function(data){
                            data.field.articleType=data.field.articleType=="on"?1:0;
                            $.post(basePath+"article/save",data.field,function(retValue){
                                if(retValue.code=="200"){
                                    layer.open({
                                        title: '保存完成',
                                        content: "保存完成,<a href='"+retValue.data+"'>点击查看</a>",
                                        area: ['80px', '150px']
                                    });
                                }else{
                                    layer.alert(retValue.message,{icon: 5});
                                }
                            })
                            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
                        });

                    });
                });
            </script>
        </div>
    </div>
</div>
    </form>
<div class="layui-fluid" th:replace="common::footer">
</div>
</div>
</body>

</html>