<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      class="pixel-ratio-2 retina">
<head th:replace="common::pagehead">
    <title>文章展示</title>
</head>
<link rel="stylesheet" th:href="@{/mdeditor/css/editormd.css}" />
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script th:src="@{/mdeditor/editormd.min.js}"></script>
<script th:src="@{/mdeditor/lib/marked.min.js}"></script>
<script th:src="@{/mdeditor/lib/prettify.min.js}"></script>
<script th:src="@{/mdeditor/lib/raphael.min.js}"></script>
<script th:src="@{/mdeditor/lib/underscore.min.js}"></script>
<script th:src="@{/mdeditor/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/mdeditor/lib/flowchart.min.js}"></script>
<script th:src="@{/mdeditor/lib/jquery.flowchart.min.js}"></script>

<body class="layui-layout-body" style="overflow: scroll;">

<div th:replace="common.html::header"></div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12 layui-btn-fluid">
            <div style="text-align: center;font-weight: bold;font-size: 36px;padding-top:10px;" id="articleTitle">
            </div>
            <blockquote class="layui-elem-quote layui-quote-nm">
                <i class="layui-icon layui-icon-username" id="userName"></i>
               <i class="layui-icon layui-icon-time" id="postTime"></i>
               <i class="layui-icon layui-icon-read" id="clickCount"></i>
            </blockquote>
            <div id="editormd-view" style="width: 98%;margin: 0 auto; overflow: scroll;">
            </div>
        </div>
</div>
    <div class="layui-row layui-col-space10">
        <form class="layui-form">
            <input type="hidden" value="" name="commitId" id="articleId">
        <div id="commentEditor">
            <textarea lay-verify="required" lay-reqText="请选择分类" style="display:none;" th:name="commitContent"></textarea>
        </div>
            <button type="button" lay-submit style="display: inline;" lay-filter="saveBtn" th:id="saveBtn" class="layui-btn  layui-btn-normal layui-btn-radius">评论</button>
        </form>
    </div>
    <script type="text/javascript" th:inline="javascript">
        var editormdView;
        let commentEditor=null;
        $(function() {
            let articleContent = [[${article.article_content}]];
            let articleTitle = [[${article.article_name}]];
            $("#articleTitle").text(articleTitle);
            $("#articleId").val([[${article.article_id}]]);
            $("#userName").text([[${article.user_name}]]);
            $("#postTime").text(new Date([[${article.article_time}]]).Format('yyyy-MM-dd hh:mm:ss'));
            $("#clickCount").text([[${article.article_click}]]==null?"0":[[${article.article_click}]]);
            editormdView = editormd.markdownToHTML("editormd-view", {
                markdown        : articleContent,
                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                //toc             : false,
                tocm            : true,    // Using [TOCM]
                //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                //tocDropdown     : true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
                width  : "100%",
                height : "98%"
            });
            //评论
            commentEditor = editormd("commentEditor", {
                placeholder:"留下您的评论吧",
                watch:0,//关闭预览模式
                width  : "100%",
                height : 200,
                path   : basePath+"mdeditor/lib/",
            });
            commentEditor.hide();
        });
        layui.use('form', function(){
            let form = layui.form;
            form.on('submit(saveBtn)', function(data){
                $.ajax({
                    url:basePath+"userComment/save",
                    data:data.field,
                    type:"POST",
                    dataType:"application/json",
                    success:function(retValue){
                        if(retValue.code=="200"){
                            layer.msg("保存完成");
                        }else{
                            debugger;
                            layer.alert(retValue.message,{icon: 5});
                        }
                    }});
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

        });
    </script>

</div>
<div class="layui-fluid" th:replace="common::footer">
</div>
</div>
</body>

</html>