<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      class="pixel-ratio-2 retina">
<head th:fragment="pagehead">
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/commonutil.js}">
    </script>
    <script th:src="@{/js/jquery_1.11.3_jquery.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        basePath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        let layer;
        let element;
        layui.use(['element','layer','form'], function(){
            layer= layui.layer;
          element=layui.element;
          element.init();

            $.ajaxSetup({
                beforeSend:function(){
                    showloading();
                },
                cache:false,
                complete:function(){
                    closeloading();
                }
            });
        });
    </script>


</head>
<body>
<div th:fragment="header">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="background-color: white;!important;">
        <div class="layui-logo" style="background-color: white;!important;">Sane's Blog</div>
        <ul class="layui-nav layui-layout-left" style="background-color: white;!important;">
            <li class="layui-nav-item"><a href="">首页</a></li>
            <li class="layui-nav-item"><a href="">JAVA</a></li>
            <li class="layui-nav-item"><a href="">LINUX</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">分布式</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">并发</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">杂文</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" style="background-color:white;" sec:authorize="isAuthenticated()">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" class="layui-nav-img">
                    <span sec:authentication="name"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/article/new}">写文章</a></dd>
                    <dd><a th:href="@{/article/new}">完善个人信息</a></dd>
                    <dd><a th:href="@{/article/new}">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">登出</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right" style="background-color:white;" sec:authorize="isAnonymous()">
            <li class="layui-nav-item"><a th:href="@{/login}">登录</a></li>
        </ul>
    </div>
</div>

</div>

<div th:fragment="footer">
    <div class="layui-row">
        <div class="layui-col-md12" style="text-align:center; color: #5FB878">
            ©2020 muyushan<a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备20014790号</a>
        </div>
    </div>
</div>

</body>
</html>