<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      class="pixel-ratio-2 retina">
<head th:fragment="pagehead">
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/commonutil.js}">
    </script>
    <script th:src="@{/js/jquery_1.11.3_jquery.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        basePath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        let layer;
        let element;
        layui.use(['element','layer','form','util'], function(){
            layer= layui.layer;
          element=layui.element;
          element.init();
            let util = layui.util;
            //固定块

            let bar1=$("#commentEditor").length>0?'<i class="layui-icon layui-icon-dialogue" style="font-size:33px!important;color:white;"></i>':false;
            util.fixbar({
                bar1: bar1//
                ,bar2: false
                ,css: {right: 50, bottom: 50}
                ,bgcolor: '#5FB878'
                ,click: function(type){
                    if(type === 'bar1'){
                        commentEditor.show();
                        commentEditor.unwatch();
                        scrollToElement("commentEditor");
                    } else if(type === 'bar2') {
                        layer.msg('两个 bar 都可以设定是否开启')
                    }
                }
            });
            /**
             * ajax全局设置发起请求就显示加载遮罩，请求完成就关闭遮罩
             */
            $.ajaxSetup({
                beforeSend:function(){
                    showloading();
                },
                cache:false,
                complete:function(jqXHR, textStatus, errorThrown){
                    closeloading();
                    //获取后台返回的参数
                    var url = jqXHR.getResponseHeader("redirectUrl");
                    var enable = jqXHR.getResponseHeader("enableRedirect");
                    if((enable == "true") && (url != "")){
                        var win = window;
                        while(win != win.top){
                            win = win.top;
                        }
                        layer.msg('该操作需要登录后才能进行,5秒后自动跳转或点击【确定】直接跳转', {
                            icon: 2,
                            title:'授权提示',
                            btn:['确定'],
                            time: 5000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            win.location.href = url;
                        });
                    }
                    // switch (jqXHR.status) {
                    //     case (500):
                    //         layer.alert('服务器系统内部错误', {
                    //             icon : 2
                    //         });
                    //         break;
                    //     case (302):
                    //         console.log("cccc")
                    //         layer.alert('重定向', {
                    //             icon : 2
                    //         });
                    //         break;
                    //     case (401):
                    //         layer.alert('请先登录', {
                    //             icon : 2
                    //         });
                    //         break;
                    //     case (403):
                    //         layer.alert('无权限执行此操作', {
                    //             icon : 2
                    //         });
                    //         break;
                    //     case (408):
                    //         layer.alert('请求超时', {
                    //             icon : 2
                    //         });
                    //         break;
                    //     default:
                    //         layer.alert('未知错误,请联系管理员', {
                    //             icon : 2
                    //         });
                    // }
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    // layer.alert('请求处理发生异常:请求状态:'+textStatus+"异常原因:"+errorThrown, {
                    //                 icon : 2
                    //             });
                }
            });
        });
    </script>


</head>
<body>
<div th:fragment="header">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="background-color: white;!important;">
        <div class="layui-logo" style="background-color: white;!important;">Sane's Blog</div>
        <ul class="layui-nav layui-layout-left" style="background-color: white;!important;">
            <li class="layui-nav-item"><a href="">首页</a></li>
            <li class="layui-nav-item"><a href="">JAVA</a></li>
            <li class="layui-nav-item"><a href="">LINUX</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">分布式</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">并发</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">杂文</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" style="background-color:white;" sec:authorize="isAuthenticated()">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://upload.jianshu.io/users/upload_avatars/20572678/3076ec19-63be-4692-b931-6427c0b88c45?imageMogr2/auto-orient/strip|imageView2/1/w/240/h/240" class="layui-nav-img">
                    <span sec:authentication="name"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/article/new}">写文章</a></dd>
                    <dd><a th:href="@{/article/new}">完善个人信息</a></dd>
                    <dd><a th:href="@{/article/new}">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">登出</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right" style="background-color:white;" sec:authorize="isAnonymous()">
            <li class="layui-nav-item"><a th:href="@{/login}">登录</a></li>
        </ul>
    </div>
</div>

</div>

<div th:fragment="footer">
    <div class="layui-row">
        <div class="layui-col-md12" style="text-align:center; color: #5FB878">
            ©2020 muyushan<a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备20014790号</a>
        </div>
    </div>
</div>

</body>
</html>