<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      class="pixel-ratio-2 retina">
<head th:replace="common::pagehead">
</head>
<body class="layui-layout-body" style="overflow: scroll;">
<div th:replace="common.html::header"></div>
<div class="layui-fluid">
    <div class="layui-row">
        <div id="article_container" class="layui-col-md9 main-content">
        </div>
        <div class="layui-col-md3 right-slider">
            &nbsp;
        </div>
    </div>
</div>
<div class="layui-fluid" th:replace="common::footer">

</div>

<script>
    debugger;
    layui.use('flow', function(){
        var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
        var flow = layui.flow;
        var pageSize=10;
        flow.load({
            elem: '#article_container', //指定列表容器
            mb:10,
            end:"----底线----",
            done:function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                $.ajax(
                    {
                        url:basePath+'article/list?pageNum='+page+"&pageSize="+pageSize,
                        data:{},
                        success:function(res){
                            pageSize=3;
                            layui.each(res.records, function(index, item){
                                lis.push("<div class=\"layui-card\" data-articleid='"+item.articleId+"'>\n" +
                                    "                <div class=\"layui-card-header\">"+item.articleName+"</div>\n" +
                                    "                <div class=\"layui-card-body\">\n"+item.articleContent+"</div>\n" +
                                    "                <div class=\"layui-card-fotter\">\n" +
                                    "                    <i class=\"layui-icon layui-icon-username\">"+item.userName+"</i>\n" +
                                    "                    <i class=\"layui-icon layui-icon-time\">"+new Date(item.articleTime).Format('yyyy-MM-dd hh:mm:ss')+"</i>\n" +
                                    "                    <i class=\"layui-icon layui-icon-praise\"></i>\n" +
                                    "                    <i class=\"layui-icon layui-icon-reply-fill\">"+item.commentCount+"</i>\n" +
                                    "                    <i class=\"layui-icon layui-icon-read\">"+(item.articleClick==null?"0":item.articleClick)+"</i>\n" +
                                    "                </div>\n" +
                                    "            </div>");
                            });
                            next(lis.join(''), page < res.pages);
                            $('.layui-card').off('click');//解决click事件的重复绑定问题
                            $(".layui-card").on('click',function(e){
                                window.open(basePath+"article/a_"+e.currentTarget.dataset.articleid);                 //在另外新建窗口中打开窗口
                            });
                        }
                    });

            }
        });
    });
</script>
</body>

</html>